.weather {
  display: flex;
  justify-content: center;
  height: 15vh;
  align-items: end;
  color: azure;
  font-size: 50px;
  font-weight: bold;
  animation: lotate 5s linear infinite;
}

@keyframes lotate {
  from {
  }
  to {
    transform: rotateY(360deg);
  }
}

#weather_box {
  position: absolute;
  right: 50px;
  top: 30px;
  color: azure;
  font-weight: bold;
  text-align: center;
}
